body{
    background: linear-gradient(-45deg, #ff8a67, #feffa6, #ff9ec3, #cba3ff);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 100vh;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  
  .glow {
      font-size: 80px;
      color: #fff;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }
  
    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #ff42a0, 0 0 50px #ff0783, 0 0 60px #ef3d96, 0 0 70px #ff42a0;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff78bc, 0 0 40px #ff6eb7, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }
  
    /* Link{
      font-size: 20px;
    } */
  
  .glavDiv{
      height: 100vh;
  }
  
  .btn{
      color: white;
  }
  
  .button {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);
      background-color: rgb(255, 95, 239);
      padding: 15px 40px;
      border-radius: 4px;
      font-weight: normal;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      font-size: 20px;
    }
    
    .glow-button:hover {
      color: rgb(255, 255, 255);
      box-shadow:0px 50px 50px rgb(255, 255, 255);
    }
  
  .btn:hover{
      background-color: rgb(255, 65, 236);
      color: white;
  }
  
  img{
    width: 500px;
    height: 500px;
  }
  
  .size{
    font-size: 15px;
  }
  
  .input{
    /* text-decoration: none; */
    border: 0;
    width: 300px;
    height: 53px;
  }

  .quote{
    font-size: 30px;
    color: white;
  }

  .img{
    margin-left: 200px;
  }

  .answer{
    font-size: 20px;
  }